body {
	background: #f3f3f3;
	width: 100%
}

header {
}

h1 {
	color: #f3f3f3;
	font-family: 'Roboto Slab', serif;
}

h2 {
	color: #222;
	font-family: 'Roboto Slab', serif;

}

h3{
	font-size: 35px;
	font-family: 'Dosis', sans-serif;
}

h6 {
	font-size: 20px;
}

p {
	font-family: 'PT Sans Narrow', sans-serif, monospace;
	font-size: 15px;
	line-height: 1.5em;
}

footer {
	text-align: center;
}

a {
	margin-top: 20px; 
	margin-right: 20px;
}

.social-btn {
	color: white;

}

.navbar {
	margin: 0px;
	min-height: 90px;

}

.jumbotron {
	background: transparent;
	min-height: 300px;
	text-align: center;
}


.text-block {
	padding: 20px;
	color: white; 

}

.footer-sec {
	padding-top: 30px;
	padding-bottom: 30px;
}

#guts {
	background: #222;
	opacity: 20%;
	min-height: 80px;
	text-align: center;
}

#jumbo-container {
	margin: 0px;
	background: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete-texture.png");

}

#header-logo {
	margin-left: 20px;
	position: absolute;
	bottom: 1px;
	height: 60px;

}

#jumbo-logo {
	height: 200px;
}




